@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4  text-capitalize text-black">Welcome to the Pizza Delivery!</h1>
        <h2>Delicious Pizzas for you!</h2>
    </div>
    <img class="mainImage" src="~/img/PizzaTime.jpg" />
    <br />
    <a class="btn btn-primary" asp-area="" asp-page="Pizza">Take me to the pizzas</a>
</div>
